$base-font-family: "Roboto Slab", Georgia, serif;

// Font colors
$gray-dark: #36393c;
$gray: #858a8f;
$gray-light: #9da2a7;
$grey-lighter: #f1f2f4;

$brand-color: #0090ff;
$success-color: #007400;
$error-color: #fd7360;
