body {
  font: 300 normal 18px/1.6 $base-font-family;
  color: $gray-dark;
  margin: 0;
  text-shadow: 0 1px 0 #fff;
  background-color: $grey-lighter;
}

*,
*:focus {
  outline: 0 none;
}

a {
  color: $brand-color;

  &:hover {
    text-decoration: none;
  }
}

h2 {
  color: $gray;
  font-size: 2.2em;
  font-weight: 300;
  margin: .7em 0 .8em 0;
}

hr {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 1px;
  border: none;
  background-color: #dee0e1;
  background-image: linear-gradient(left, #f3f4f5 0%, #dee0e1 20%, #dee0e1 80%, #f3f4f5 100%);

  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 1px;
    width: 100%;
    height: 1px;
    background-color: #fafcfc;
    background-image: linear-gradient(left, #f3f4f5 0%, #fff 20%, #fff 80%, #f3f4f5 100%);
  }
}

figure {
  margin: 1em 0;

  img {
    max-width: 100%;
    height: auto;
  }
}

.container {
  margin: auto;
  max-width: 1140px;
  padding: 0 3.359375%;
}
