.site-header {
  @extend %clearfix;
  padding: 30px 0;

  .ico-rainum {
    float: left;
    color: #d0d0d0;
    transition: color .2s ease-in-out;
  }

  .brand {
    float: left;
    text-decoration: none;
    font-size: 90px;

    &:hover .ico-rainum {
      color: #0090ff;
    }
  }

  h1,
  h2 {
    padding-left: 110px;
    font-size: 22px;
    margin: 0;
  }

  h1 {
    padding-top: 13px;
    color: $gray-dark;
    line-height: 1.4;
    font-weight: 600;
  }

  h2 {
    font-style: italic;
    color: $gray-light;
  }
}

.site-header .main-nav {
  display: block;
  float: right;
  letter-spacing: -1px;
  padding-top: 24px;

  ul {
    @extend %hor-list;
  }

  li {
    position: relative;
    padding: 0 0 0 50px;
  }

  a {
    font-size: 23px;
    text-decoration: none;
    position: relative;
    z-index: 1;
    transition: all 200ms ease-in 50ms;

    &:hover {
      color: $gray-dark;
    }

    &:hover:before {
      opacity: 1;
    }

    &:before {
      content: "";
      position: absolute;
      display: block;
      border: 1px solid #dedede;
      width: 40px;
      height: 40px;
      left: 50%;
      top: -5px;
      margin-left: -20px;
      z-index: -1;
      border-radius: 50% 50%;
      opacity: 0;
      transition: opacity .2s linear;
    }
  }

  .active {
    color: $gray-dark;
    cursor: default;

    &:before {
      opacity: 1;
    }
  }
}
